<div class="right" id="right">
  <div class="ideaboard">
    <h2>Idea Board:</h2>
    <h5><%= current_idea_board.title %></h5>
    <% if current_idea_board.empty? %>
      <div class="alert alert-secondary">
        <p>Add cards to this board by clicking the gray circle in the top right corner.</p>
      </div>
    <% else %>
      <% current_idea_board.cards.each do |card| %>
        <div class="result">
          <div class="flexible">
            <%= image_tag("icons/quote.svg", class: "filetype")%>
            <div class="content">
              <p><%= card.quote %></p>
              <p><%= card.url %></p>
            </div>
            <div class="rightcontent">
              <%=
                link_to(
                    remove_idea_card_path(
                        idea_board_id: current_idea_board.id,
                        card_id: card.id
                    ),
                    method: :delete
                ) do
              %>
                <%= image_tag("icons/check_yes.svg")%>
              <% end %>
              <%= image_tag("icons/more_info.svg")%>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>