<div class="right" id="right">
  <div class="ideaboard">
    <h2>Idea Board:</h2>
    <h5>Life and Times of Moses</h5>
    <!--Results container -->
    <div class="result">
      <div class="flexible">
        <%= image_tag("icons/quote.svg", class: "filetype")%>
        <div class="content">
          <p>lorem impsum asdlf alskdfkljasfd </p>
          <p>asdfasdf</p>
        </div>
        <div class="rightcontent">
          <div><%= image_tag("icons/check_yes.svg")%></div>
          <div><%= image_tag("icons/more_info.svg")%></div>

        </div>
      </div>
    </div>
    <!--Results container -->
    <div class="result">
      <div class="flexible">
        <%= image_tag("icons/joke.svg", class: "filetype")%>
        <div class="content">
          <p>lorem impsum asdlf alskdfkljasfd </p>
          <p>asdfasdf</p>
        </div>
        <div class="rightcontent">
          <div><%= image_tag("icons/check_yes.svg")%></div>
          <div><%= image_tag("icons/more_info.svg")%></div>

        </div>
      </div>
    </div>
  </div>
</div>