<div class="results" style="text-align:center"><h2>Results: <%= params[:tag] %></h2></div>
<div class="container">
  <div class="row align-items-start">
    <div class="col-5">
      <div class="middle">
        <div id="name"><h3>Characters</h3></div>
        <div id="filter"><%= image_tag("icons/filter.svg")%></div>
      </div>
    </div>
    <div class="col-6 align-self-center">
      <div id="tags">
        <% Card::TYPES.each do |card_type| %>
          <% if all_results.of_type(card_type).any? %>
            <% if card_type == params[:card_type] %>
              <%= link_to(card_type, card_filtered_search_path(nil), class: "btn btn-primary") %>
            <% else %>
              <%= link_to(card_type, card_filtered_search_path(card_type), class: "btn btn-secondary") %>
            <% end %>
          <% else %>
            <%= link_to(card_type, "#", disabled: true, class: "btn") %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="main">
  <div class="left" id="left">
    <% results.each do |card| %>
      <div class="result">
        <div class="flexible">
          <%= image_tag("icons/#{card.type_identifier}.svg", class: "filetype")%>
          <div class="content">
            <p><%= card.quote %></p>
            <p><%= card.url %></p>
          </div>
          <div class="rightcontent">
            <% if current_user.latest_idea_board.card?(card) %>
              <%= link_to("foo") do%>
                <%= image_tag("icons/check_yes.svg")%>
              <% end %>
            <% else %>
              <%= link_to("foo") do%>
                <%= image_tag("icons/unchecked.svg")%>
              <% end %>
            <% end %>

            <%= image_tag("icons/more_info.svg")%>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render partial: "search/idea_board" %>
</div>