<br>
<div class="results" style="text-align:center">
  <h2>Results: <%= params[:tag] %></h2>
</div>
<div class="container mb-4">
  <div class="row align-items-start">
    <div class="col-5">
      <div class="container">
        <%= render partial: "search/form" %>
      </div>
    </div>
    <div class="col-6">
      <h5>Filter by Idea Type</h5>
      <div id="tags">
        <% Card::TYPES.each do |card_type| %>
          <% if all_results.of_type(card_type).any? %>
            <% if card_type == params[:card_type] %>
              <%= link_to(card_type, card_filtered_search_path(nil), class: "buttontag") %>
            <% else %>
              <%= link_to(card_type, card_filtered_search_path(card_type), class: "buttontag buttontag-inactive") %>
            <% end %>
          <% else %>
            <%= link_to(card_type, "#", disabled: true, class: "buttontag buttontag-disabled") %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="left" id="left">
    <% results.each do |card| %>
      <%= render partial: "search/card_idea", locals: { card: card } %>
    <% end %>
  </div>

  <%= render partial: "search/idea_board" %>
</div>