<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-8">
      <%= render partial: "cards/abstract", locals: { card: card } %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <%= form_for(Topic.new, as: :tag, url: add_card_tag_path) do |form| %>
        <%= form.hidden_field(:type) %>
        <%= form.select(:canonical_name, Topic.select_options(Topic.canonical.where.not(id: card.tags))) %>
        <%= form.submit("Add Tag") %>
      <% end %>
    </div>
  </div>
  <% card.tags.each do |tag| %>
    <div class="row">
      <div class="col-sm">
        <div class="alert alert-secondary">
          <%= tag.canonical_name %>
          <%= form_for(tag, as: :tag, url: remove_card_tag_path(type: tag.type, card_id: card.id), method: :delete, class: "close") do |form| %>
            <%= form.hidden_field(:type) %>
            <%= form.hidden_field(:canonical_name) %>
            <%= form.submit "&times;".html_safe %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>