<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h4>Resources</h4>
        <ul class="list-unstyled">
          <li><%= external_link_to "C4tK Homepage", "http://www.codeforthekingdomnashville.org/" %></li>
          <li><%= external_link_to "Project Source Code", "https://github.com/mellowfish/c4tk-2018" %></li>
        </ul>
      </div>
      <div class="col-4">
        <h4>Contributors</h4>
        <ul class="list-unstyled">
          <li>Alan Pramuk (Front End)</li>
          <li>
            Christopher Coleman (Back End)
            <%= external_link_to("https://twitter.com/mellowfish") { fa_icon("twitter") } %>
            <%= external_link_to("https://github.com/mellowfish") { fa_icon("github") } %>
          </li>
          <li>
            Kevin Adelsberger (UX)
            <%= external_link_to("https://twitter.com/k_adelsberger") { fa_icon("twitter") } %>
          </li>
          <li>Santhosh Dasari (Idea Guy, original pitch)</li>
        </ul>
      </div>
    </div>
  </div>
</footer>