<footer class="footer">
  <div class="footerinfo">
    <div class="footerleft">
      <h5>Resources</h5>
        <%= external_link_to "C4tK Homepage", "http://www.codeforthekingdomnashville.org/" %>
        <%= external_link_to "Project Source Code", "https://github.com/mellowfish/c4tk-2018" %>
    </div>
    <div class="footerright">
      <h5>Contributors</h5>
      <div class="footerflex">
        <p>Alan Pramuk (Front End)</p>
        <%= external_link_to("https://github.com/alanpramuk9") { fa_icon("github") }%>
      </div>
      <div class="footerflex">
        <p>Christopher Coleman (Back End)</p>
        <%= external_link_to("https://twitter.com/mellowfish") { fa_icon("twitter") } %>
        <%= external_link_to("https://github.com/mellowfish") { fa_icon("github") } %>
      </div>
      <div class="footerflex">
        <p>Kevin Adelsberger (UX)</p>
        <%= external_link_to("https://twitter.com/k_adelsberger") { fa_icon("twitter") } %>
      </div>
      <div class="footerflex">
        <p>Santhosh Dasari (Idea Guy, original pitch)</p>
      </div>
    </div>
  </div>
</footer>