<nav class="navbar navbar-expand-md <%= current_page?(root_path) ? "navbar-trans" : "bg-light navbar-light" %>">
  <%= link_to(root_path, class: "navbar-brand") do %>
    <%= image_tag("icons/logo.svg", class: "logo") %>
  <% end %>
  <button class="navbar-toggler square custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <% unless current_user.guest? %>
        <li class="nav-item dropdown">
          <a class="nav-link top dropdown-toggle" style="min-width:200px;" href="#" id="navbardrop" data-toggle="dropdown">
            Add Idea Card
          </a>
          <div class="dropdown-menu">
            <% Card::TYPES.each do |card_type| %>
              <%= link_to card_type, new_card_path(type: card_type), class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      <% end %>
      <% if current_user.guest? %>
        <li class="nav-item">
          <%= link_to "Sign In", sign_in_path, class: "nav-link top" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", sign_up_path, class: "nav-link top" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "My Profile", profile_path, class: "nav-link top" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Out", sign_out_path, class: "nav-link top" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>