<div class="container">
  <div class="row">
    <div class="col-sm-2 text-right">
      <%= image_tag("icons/#{card.type_identifier}.svg", class: "card-icon") %>
    </div>
    <div class="col-sm-10">
      <% if card.quote.present? %>
        <blockquote class="blockquote">
          <p class="mb-0"><%= card.quote %></p>
          <footer class="blockquote-footer text-right">
            <% if card.author.present? %>
              From <%= card.author %> in
            <% end %>
            <cite title="Source">
              <% if card.url.present? %>
                <%= link_to card.source, card.url %>
              <% else %>
                <%= card.source %>
              <% end %>
            </cite>
          </footer>
        </blockquote>
      <% elsif card.url.present? %>
        <dl>
          <dt>URL</dt>
          <dd><%= card.url %></dd>
          <% if card.author.present? %>
            <dt>Author</dt>
            <dd><%= card.author %></dd>
          <% end %>
          <dt>Source</dt>
          <dd><%= card.source %></dd>
        </dl>
      <% end %>
    </div>
  </div>
</div>