<div class="result">
  <div class="flexible">
    <%= image_tag("icons/#{card.type_identifier}.svg", class: "filetype")%>
    <%= render partial: "cards/abstract_content" %>
    <div class="rightcontent">
      <div></div>
      <div class="modal-toggle" data-toggle="modal" data-target="#cardModal<%= card.id %>">
        <%= image_tag("icons/more_info.svg")%>
      </div>
    </div>
  </div>
</div>
<%= render partial: "cards/modal", locals: { card: card } %>